.container__portada__index {
  width: 100vw;
  height: 100vh;
}

.container__portada__index {
  background-image: url(./home.jpeg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h2 {
  margin: 0;
}


/****servicios****/
.servicios {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./fondo_servicios.jpg);
  background-size: cover;
}

.container__servicios, .container__servicios_mobile {
  width: 90vw;
  height: 80vh;
  gap: 5vw;
  display: flex;
  justify-content: center;
}

.container__servicios>*, .container__servicios_mobile>* {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 70vh;
  /* background-color: #04083a; */
  background-color: rgba(0, 0, 0, 0.66);
  color: #ffffff;
  justify-content: space-evenly;
  align-items: center;
}

.container_img {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.container_img>img {
  width: 20vw;
}

.container__servicios>*>p, .container__servicios_mobile>*>p {
  height: 20vh;
  margin: 2vw;
}

.container__servicios>*>h3, .container__servicios_mobile>*>h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.img__container__servicios {
  height: 50vh;
}

/****servicios****/
